# gitignoreの書き方（参照：https://codeaid.jp/blog/gitignore/）
# .gitignoreファイルがあるディレクトリ以下がサブディレクトリ含めて除外対象となります。
# #で始まる行はコメントとして機能します。
# 空白行はどのファイルとも一致せず解釈されません。
# #や末尾の空白を文字として扱いたいときは前に「\」を置きます。（例：\#）
# /を含まないファイル名やディレクトリ名を記述している行は、.gitignore以下を全てのサブディレクトリも含めてこの名前のファイルやディレクトリを除外します。（例：hello.txt, fooなど）
# 末尾以外にのみ/を含むファイル名やディレクトリ名を記述している行は、.gitignoreがある場所を基準にして相対パスで指定されるファイルやディレクトリを除外します。（例：/hello.txt, /foo/to/hello.txt, foo/to/hello.txtなど）
# 末尾にのみ/を含むファイル名やディレクトリ名を記述している行は、.gitignore以下の全てのサブディレクトリを含めてこの名前のディレクトリを除外します。（例：foo/など）
# 末尾以外にも末尾にも/を含むファイル名やディレクトリ名を記述している行は、.gitignoreがある場所を基準にして相対パスで指定されるディレクトリを除外します。（例：/foo/, sub/to/foo/など）
# 「!」で始まる行は、除外しないファイルやディレクトリとなります。（例：!hello.txt）
# 「*」はスラッシュ「/」以外のすべてと一致するワイルドカードです。（例：hello.*や*.classなど）
# 「?」は「/」以外の任意の1文字に一致します。（例：hello_?.txtなど）
# [a-zA-Z]などのように範囲の文字に一致するように記述することもできます。（例：hello_[a-zA-Z].txtなど）
# 「*」を２つ連続で記述「**」すると特別な意味を持つ場合があります。
# 「**/foo」は「foo」と同じ意味になります。
# 「abc/**」は、.gitignoreファイルの場所を基準にしてディレクトリ「abc」内のすべてのファイルに一致します。
# 「a/**/b」は複数のディレクトリと一致します。（a/b, a/x/b, a/x/y/bなどに一致）

/document
/reference